/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Anna Foldvari
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
	background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
	height: 440px;
	margin: 0 0 80px;
	padding: 100px 0;
}

#masthead {
	background: none repeat scroll 0 0 #45ac9d;
}

.button {
background: none repeat scroll 0 0 #45ac9d;
}

.blog-post {
	width: 50%;
}


.blog-post h4 {
	color: #a6a6a6;
	text-transform: uppercase;
}

.blog-post h2 {
	font-size: 1.5em;
}

.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}


.single-case_studies h1 {
    color: black;
}

aside.case-study-sidebar {
    float:left;
    width:300px;
}
    
div.case-study-images {
    float:left;
    width:600px;
}

div.case-study-images img {
   display: block;
   margin-bottom:50px;
   border:1px solid #dddddd;
   
}

.featured-work h4 {
    text-align: center;
}

.featured-work ul {
	text-align: center;
}

.featured-work li {
	display: inline-block;
	margin-top: 20px;
}

.case-study-sidebar span {
	font-size:10px;
	font-weight: 700;
	color: gray;
}

.excerpt {
	padding-top: 20px;
}

#link a {
	color: #45ac9d;
}

.name {
   font-size: 10px;
   width: 250px;
   display: inline-block;
   margin-right: 15px;
}

.email {
   font-size: 10px;
   width: 250px;
   display: inline-block;
}

.email {
   font-size: 10px;
}

.emailelement {
   width: 250px;
}

.message {
    width: 515px;
    font-size: 10px;
    margin: auto;
}

.slug-contact-us {
	text-align: center;
}

.slug-contact-us p {
	font-size: 12px;
	color: gray;
	width: 515px;
	margin: auto;
	text-align: left;
}

.slug-contact-us h2 {
	text-align:left;
	width: 515px;
	margin: 20px auto;
}

.slug-contact-us .submit-container.send {
    width: 515px;
    margin: auto;
    text-align: right;
}

.sendelement {
	float: right;
	background-color: #45ac9d;
	color: white;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.aboutpage {
   height: 250px;
   background: no-repeat url("img/taxi-photo.jpg");
   background-size: cover;
   background-position: center;
   text-align: center;
   color: white;
   margin: auto;
   display: flex;
   align-items: center;
   width: 100%;

}

.aboutpage p {
	padding-left: 200px;
	padding-right: 200px;
}

.ourservices {
	text-align: center;
	width: 500px;
	margin: auto;
}

.ourservices p {
	color: gray;
}


.cubutton a {
	border: 2px solid #45ac9d;
	width: auto;
	background: #45ac9d;
	color: white;
	padding: 10px 25px;
	margin-left: 20px;
}

.content-strategy {
    display: flex;
}
.content-strategy p {
	width: 500px;
	color: gray; 

}

.content-strategy img {
    margin-right: 30px;
}

.influencer-mapping {
	display: flex;
}

.influencer-mapping p {
	width: 500px;
	color: gray; 
}

.social-media {
	display: flex;
}

.social-media p {
	width: 500px;
	color: gray; 
}

.social media img {
	margin-right: 30px;
}

.design {
	display: flex;
}

.design p {
	width: 500px;
	color: gray; 
}


.belowtext {
	display: flex;
	width: 700px;
	padding-bottom: 25px;
	border-bottom: 1px solid #C2C9CC;
	border-top: 1px solid #C2C9CC;


}

body.error404 h1 {
	color: black;
}

body.error404 #content {
	display: flex;
}

.img404 {
    margin-top: 150px;
    margin-right: 70px;
}

.text404 {
	margin-top: 150px;
	text-align: center;
}

.widgetflex {
   display: flex;
   justify-content: center;
}

.blogpart {
	width: 500px;
}
	
.widgettwitter {
	margin-top: 17px;
	width: 400px;
}

.widget-title {
	color: #a6a6a6;
	font-size: 20px;
	margin-bottom: 32px;
}

.mc4wp-form-fields input[type="submit"]{
	background: #45ac9d;
	color: white;
	border: 1px solid #45ac9d;
	padding: 10px 20px;
}

#menu-top-nav {
	display: flex;
	margin: 0;
}

#menu-top-nav li {
	margin-right: 20px;
}