/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Anna Foldvari
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
	background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
	height: 440px;
	margin: 0 0 80px;
	padding: 100px 0;
}

#masthead {
	background: none repeat scroll 0 0 #45ac9d;
}

.button {
background: none repeat scroll 0 0 #45ac9d;
}

.blog-post {
	width: 50%;
}


.blog-post h4 {
	color: #a6a6a6;
	text-transform: uppercase;
}

.blog-post h2 {
	font-size: 1.5em;
}

.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}


.single-case_studies h1 {
    color: black;
}

aside.case-study-sidebar {
    float:left;
    width:300px;
}
    
div.case-study-images {
    float:left;
    width:600px;
}

div.case-study-images img {
   display: block;
   margin-bottom:50px;
   border:1px solid #dddddd;
   
}

.featured-work h4 {
    text-align: center;
}

.featured-work ul {
	text-align: center;
}

.featured-work li {
	display: inline-block;
	margin-top: 20px;
}

.case-study-sidebar span {
	font-size:10px;
	font-weight: 700;
	color: gray;
}

.excerpt {
	padding-top: 20px;
}

#link a {
	color: #45ac9d;
}